
.error-container {
  overflow: hidden; // prevent the sliding text from creating a scrollbar
  display: flex;
  justify-content: space-between;
  // flex-direction: row;
}

.hexagon-containter {
  margin-top: 1vh;
  margin-right: 15vw;
}

@import "slidingtext";
@import "hexagon";
