// The parent element of the logo
.home-container {
  padding: 30px; // pad the home container with 30 px
  display: flex;
  justify-content: center;
}

// The logo, its animation, and its positioning
.logo-effect {
  margin-top: 10vh; // keep the logo aligned 10vh from the top
  animation-delay: 0.7s;  // wait, so the animation runs smooth
  animation: logo-animation 1s;
  animation-timing-function: ease;
  -webkit-app-region: no-drag; // prevent the image from being dragged
}

// This keeps the logo scaled within the window. The divs containing
// the img are required to allow the image to scale within a flexbox at all.
.logo-img {
  width: 100%; // Keep the image width 100% in the viewport
}

// Fade-in and scroll-up animation for the logo. This is the
// reverse of the background highlight animation, which slides up.
@keyframes logo-animation {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
  }
}
