// The element for each image tag
// The image should fill up the entire application view
.image-element {
  margin: auto;
  position: absolute;
}

// Fit & scale the image within the application's view
.fit-img {
  // Align against the edge of the window
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  // Keep the max width 100% of the view width and
  // the max height 100% of the view height
  max-width: 100vw;
  max-height: 100vh;
}

// Display the image at 100% size
.full-img {
  top: 0px;
  left: 0px;
}
