// The container for the application's view
.main-app {
  -webkit-user-select: none; // prevent all text selection/highlight
  -webkit-app-region: drag; // allow images to be dragged
}

// The parent element of the logo
.home-container {
  padding: 30px; // pad the home container with 30 px
  display: flex;
  justify-content: center;
}

// The logo, its animation, and its positioning
.logo-effect {
  margin-top: 10vh; // keep the logo aligned 10vh from the top
  animation-delay: 0.7s;  // wait, so the animation runs smooth
  animation: logo-animation 1s;
  animation-timing-function: ease;
  -webkit-app-region: no-drag; // prevent the image from being dragged
}

// This keeps the logo scaled within the window. The divs containing
// the img are required to allow the image to scale within a flexbox at all.
.logo-img {
  width: 100%; // Keep the image width 100% in the viewport
}

// .error-container {}

// The element for each image tag
// The image should fill up the entire application view
.image-element {
  margin: auto;
  position: absolute;
}

// Fit & scale the image within the application's view
.fit-img {
  // Align against the edge of the window
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  // Keep the max width 100% of the view width and
  // the max height 100% of the view height
  max-width: 100vw;
  max-height: 100vh;
}

// Display the image at 100% size
.full-img {
  top: 0px;
  left: 0px;
}

// Custom scrollbar
::-webkit-scrollbar {
  // Hide the scrollbar, since there isn't any way to overlay
  // the scrollbar over the image while hiding the track
  width: 0px;
  height: 0px;
}

// Fade-in and scroll-up animation for the logo. This is the
// reverse of the background highlight animation, which slides up.
@keyframes logo-animation {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
  }
}
