.main-app {
    -webkit-user-select: none;
    -webkit-app-region: drag;

    animation: crossimagefade 0.5s;
}

/* The App's welcome image */
.welcome {
    /*background: url(../icons/apphome.png);*/
}

/*.gradient {
    height: 680px;
    width: 980px;
    background-image: radial-gradient(
        ellipse,
        #FFFFFF,
        #EFF0F1
        );
    filter: blur(100px);
}*/

/* General display effects applied to the entire image area */
/*.image-display {*/
    /* Centering */
/*}*/

/* Position settings to center the spinner */
/*.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.image-container {
    position: absolute;
    margin: auto;


}

/*.quick-transition {*/
    /*transition-duration: 0.17s;*/
    /*transition-timing-function: cubic-bezier(0.44, 0.53, 0.79, 1.0);*/

    /*transition-timing-function: ease-in-out;*/
/*}*/

/* Keep the image always centered, but within the bounds of the window */
.scale-fit {
    animation: crossimagefade 0.17s;

    /* Align against the edges of the window */
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;

    /* keep the the max width 100% of the view width &
    the max height 100% of the view height */
    max-width: 100vw;
    max-height: 100vh;
}

.scale-full {
    top:0px;
    /*bottom:0px;*/
    left:0px;
    /*right:0px;*/

    /*margin-right: -8px;*/

}

/*::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(150, 150, 150, .33);
}*/

/*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 5px;
  width: 5px;
  display: block;
}*/



/* Alignment effects (and transitions?) for the controls */
/*.controls {

}

.left-controls {

}

.right-controls {

}*/



/* Animation effects */

/* 2 second fade-in effect */
/*.crossimagefade {
    animation: fi1 2s;
}
@keyframes fi1 {
    from { opacity: 0; }
    to   { opacity: 1; }
}*/

/* 2 second fade-out effect */
/*.fadeout {
    animation: fo1 2s;
}
@keyframes fo1 {
    from { opacity: 1; }
    to   { opacity: 0; }
}*/

@keyframes crossimagefade {
  from { opacity: 0.6; }
  to { opacity: 1; }
}

@keyframes fadepart {
  from { opacity: 0.5; }
  to { opacity: 1; }
}
